<%= stylesheet_link_tag "inside/mail", :media => "all" %>
<%= stylesheet_link_tag "inside/attachment", :media => "all" %>
<%= javascript_include_tag "inside/attachment", :media => "all" %>


<%# File サブナビゲーション %>
<div class='navbar sub_nav'>
  <div class='navbar-inner navbar-inner-org'>
    <ul class='nav'>
      <li><%= link_to (raw(t 'sub_nav.attachments')), attachment_index_path %></li>
      <li><%= link_to (raw(t 'sub_nav.search')), '' %></li>
    </ul>
  </div>
</div>

<div id='fluid_div' class='row-fluid'>
  <%#-------------------------------------------------------LEFT---------------------------------------------------------------%>
  <div class='span9'>

    <%#-----SEARCH OPTION------%>
    <div id='search_option_wrapper'>
      <div class='search_option clearfix'>
        <%#--sort---%>
        <div class='sort_box clearfix left'>
          <div class='clearfix'>
            <div class='left text_white'>ソート：</div>
            <div class='left'>
              <%= link_to(raw("<span class='label #{params[:sort] == 'asc' ? 'label-default' : 'label-warning'}'>新 → 古</span>"), params.merge(opt={sort: 'desc'})) %> 
              <%= link_to(raw("<span class='label #{params[:sort] == 'asc' ? 'label-warning' : 'label-default'}'>古 → 新</span>"), params.merge(opt={sort: 'asc'})) %> 
            </div>
          </div>
        </div>
        <%#--sender---%>
        <div class='sender_box left'>
          <form>
            <select id='select_sender' class='text_small' style='width:80%;margin:0;padding:0;'>
              <option>メールアドレスで絞り込む</option>
              <% @m_addresses.each do |address| %>
                <a href='#'><option value='<%= address.sender[2..-3] %>'><%= address.sender[2..-3] %></option></a>
              <% end %>
            </select>
          </form>
        </div>

        <%#--search---%>
        <div class='search_box right'>
          <div class='input-append' style='margin:0;padding:0;'>
            <%= form_tag(attachment_index_path, method: 'GET') do %>
              <%= text_field_tag 'query', '', id: 'file_search', placeholder: 'Search...', style: 'width:80%', size: 20 %>
              <span class="add-on"><i class='icon-search'></i></span>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- div#search_option_wrapper -->

    <%#-----FILES------%>
    <div id='all_mail_wrapper'>
      <% if @attachments.present? %>
        <div class='counter'>
          該当ファイル：全<span class='big_text text_red bold'> <%= @showed_files_num %> </span>件
        </div>
        <% @attachments.each do |attach| %>
          <div class='mail_wrapper clearfix'>
            <% # 送信者 %>
            <div class='mail_parts file_from'>
              <i class='icon-user text_red big_text v_middle'></i> <%= truncate(attach.mail.sender[2..-3], length: 25, omission: '..') %>
            </div>
            <% # 件名 %>
            <div class='mail_parts file_title'>
              <a href='<%= attachment_path(attach.id) %>'>
                <i class='icon-bookmark text_orange big_text v_middle'></i> <%= truncate(attach.filename, length: 50, omission: '..') %>
              </a>
            </div>
            <% # 送信日 %>
            <div class='mail_parts file_date center_text'>
              <i class='icon-calendar text_blue big_text v_middle'></i> <%= attach.mail.send_at.strftime '%Y-%m-%d %H:%M:%S' %>
            </div>
            <% # 元のメール %>
            <div class='mail_parts file_mail center_text'>
              <a href='<%= attachment_path(attach.mail_id) %>' rel='tooltip' data-placement='top' title='<%= t 'see_mail' %>' class='text_black'>
                <%= raw("<i class='icon-envelope big_text'></i>") %>
              </a>
            </div>
            <% # ダウンロード %>
            <div class='mail_parts download center_text'>
              <a href='' rel='tooltip' data-placement='top' title='<%= t 'download' %>' class='text_black'>
                <%= raw("<i class='icon-download-alt big_text'></i>") %>
              </a>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class='mail_wrapper' style='line-height:30px;text-align:center;'>
          <span class='text_red'><i class='icon-warning-sign text_red'></i> <%= t 'file_not_found' %></span>
        </div>
      <% end %>
    </div>
    <% # ページネーション %>
    <div class='center_text'>
      <%= paginate @attachments %>
    </div>
  </div>

  <%#-------------------------------------------------------RIGHT---------------------------------------------------------------%>
  <div class='span3' style='margin-left:0;'>
    <div class='date_list'>
      <div class='date_list_head'><i class='icon-calendar'></i> 日付で絞り込む</div>
      <div class='date_list_contents'>
        <table class='width_max'>
          <tbody>
            <% @send_at_list.each do |file| %>
              <tr>
                <td class='center_text text_white'><%= link_to file.year_month, date: file.query_value %></td>
                <td class='center_text text_white'><%= "#{file.num}件" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%#ミニ分析 %>
    <div class='insight'>
      <div class='insight_head'><i class='icon-bar-chart'></i> 集計</div>
      <div class='insight_contents'>
        <table class='width_max'>
          <tbody>
            <tr>
              <td class='text_left'><i class='icon-file text_red'></i> 全ファイル</td>
              <td class='text_right'><%= "#{@all_file_num}件" %></td>
            </tr>
            <% @ext_list.each do |ext| %>
              <tr>
                <td class='text_left'><i class='icon-pushpin text_green'></i> <%= ext.ext[1..-1] %>ファイル</td>
                <td class='text_right'><%= "#{ext.num}件" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
