<div class='mail_wrapper clearfix'>
  <% # 送信者 %>
  <div class='mail_parts from'>
    <i class='icon-user text_red big_text v_middle'></i> <%= truncate(mail.sender[2..-3], length: 25, omission: '..') %>
  </div>
  <% # 件名 %>
  <div class='mail_parts title'>
    <!-- tooltopバージョン -->
    <!--
    <a href='<%#= mail_path(mail.id) %>' rel='tooltip' data-placement='top' title="<%#= truncate(mail.body, length: 100, omission: '...') %>" >
      <i class='icon-bookmark text_orange big_text v_middle'></i> <%#= truncate(mail.subject, length: 50, omission: '..') %>
    </a>
    -->
    <!-- Modalバージョン-->
    <a href='<%= "#mail_#{mail.id}" %>' data-toggle='modal' >
      <i class='icon-bookmark text_orange big_text v_middle'></i> <%= truncate(mail.subject, length: 50, omission: '..') %>
    </a>
    <%= render 'modal_window', mail: mail %>
  </div>
  <% # 送信日 %>
  <div class='mail_parts date center_text'>
    <i class='icon-calendar text_blue big_text v_middle'></i> <%= mail.send_at.strftime '%Y-%m-%d %H:%M:%S' %>
  </div>
  <% # 添付ファイル %>
  <div class='mail_parts attachment center_text'>
    <% if mail.attach_flg == true %>
      <% if mail.attachments.count == 1 %>
        <a href='<%= attachment_path(mail.attachments[0].id) %>' rel='tooltip' data-placement='top' title='<%= mail.attachments[0].filename %>' class='text_black'>
          <%= raw("<i class='icon-paper-clip big_text'></i>") %>
        </a>
      <% else %>
        <a href='<%= attachment_path(mail.attachments[0].id) %>' rel='tooltip' data-placement='top' title='<%= "#{mail.attachments[0].filename}<br>その他#{mail.attachments.count - 1}件" %>' class='text_black'>
          <%= raw("<i class='icon-paper-clip big_text'></i>") %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>
