<%= stylesheet_link_tag "inside/twitter", :media => "all" %>
<%= javascript_include_tag "inside/twitter", :media => "all" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js", :media => "all" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js", :media => "all" %>

<%# Twitter サブナビゲーション %>
<div class="navbar sub_nav">
  <div class='navbar-inner navbar-inner-org'>
    <ul class="nav">
      <li class=""><%= link_to (raw(t "sub_nav.timeline")), twitter_index_path %></li>
      <li class='dropdown active_org'>
        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href='#'><%= raw(t 'sub_nav.insight') %><span class="caret" style='vertical-align:baseline;'></span></a>
        <ul id='tw_group_list' class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><%= link_to '全グループ', twitter_path('all') %></li>
          <% @main_groups.each do |group| %>
            <li><%= link_to group.name, twitter_path(group.id) %></li>
          <% end %>
        </ul>
      </li>
      <li>
        <%#= link_to (raw(t "sub_nav.search")), "#" %>
        <div class='input-append subnav_search'>
          <%= form_tag(twitter_path, method: 'GET') do %>
            <%= text_field_tag 'q', '', id: 'tweet_search', placeholder: 'Search...' %>
            <span class="add-on" style='margin-top:10px;margin-right:15px;'><i class='icon-search'></i></span>
          <% end %>
        </div>
      </li>
    </ul>
    <div id='typewriter' class='page_desc'>Twitter上のみんなの活動状況を徹底的に分析してしまったよ！ </div>
  </div><%# #icon-envelope %>
</div><%# #sub_nav %>

<div class='contents clearfix'>
  <div class="group_timeline">
    <%= render 'insight_tweet_box' %>
  </div>
  <div class="insight_data">
    <%= render 'insight' %>
  </div>
</div>
<input type='hidden' id='gi' value='<%= params[:id] %>' />
