<%= stylesheet_link_tag "inside/group", :media => "all" %>

<%# Group サブナビゲーション %>
<div class="navbar sub_nav">
  <div class='navbar-inner navbar-inner-org'>
    <ul class='nav'>
      <li class='active_org'><%= link_to (raw(t 'sub_nav.allgroups')), group_index_path %></li>
      <li><%= link_to (raw(t 'sub_nav.create_group')), new_group_path %></li>
      <li class='dropdown'>
        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href='#'><%= raw(t 'sub_nav.edit_group') %><span class="caret" style='vertical-align:baseline;'></span></a>
        <ul id='group_list' class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <% @groups.each do |group| %>
            <li><%= link_to group.name, edit_group_path(group) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <div id='typewriter' class='page_desc'>Lab Master内で作られたグループの一覧だよ！ </div>
  </div>
</div>

<div class='contents clearfix'>
  <div id='group_list'>
    <div id='lm_title_wrapper' class='clearfix'>
      <div class='lm_group_item lm_group_name'>グループ名</div>
      <div class='lm_group_item lm_group_desc'>グループの説明</div>
      <div class='lm_group_item lm_group_members'>グループのメンバー数</div>
      <div class='lm_group_item lm_group_createdat'>作成日</div>
      <div class='lm_group_item lm_group_owner'>作成者</div>
    </div>
    <% @groups.each do |group| %>
      <div class='lm_group clearfix'>
        <div class='heightLine lm_group_item lm_group_name'><%= group.name %></div>
        <div class='heightLine lm_group_item lm_group_desc'><%= group.description %></div>
        <div class='heightLine lm_group_item lm_group_members'>
        <% members = '' %>
        <% group.group_members.each do |member| %>
          <% members << "#{member.name}<br>" %>
        <% end %>
          <a href='#' rel='tooltip' data-placement='top' title='<%= members %>'>
            <%= "#{group.group_members.count}人" %>
          </a>
        </div>
        <div class='heightLine lm_group_item lm_group_createdat'><%= group.created_at.strftime '%Y-%m-%d %H:%M:%S' %></div>
        <div class='heightLine lm_group_item lm_group_owner'><%= group.user.name %></div>
      </div>
    <% end %>
  </div>
</div>
