<%= stylesheet_link_tag "inside/blog", :media => "all" %>
<%= stylesheet_link_tag "inside/mail", :media => "all" %>
<%= javascript_include_tag "inside/blog", :media => "all" %>

<%# Blog サブナビゲーション %>
<div class="navbar sub_nav">
  <div class='navbar-inner navbar-inner-org'>
    <ul class='nav'>
      <li class='active_org'><%= link_to (raw(t 'sub_nav.blogs')), blog_index_path %></li>
      <% if session[:twitter_id] == 154423524 %>
      <li><%= link_to (raw(t 'sub_nav.new_blog')), new_blog_path %></li>
      <li class='dropdown'>
        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href='#'><%= raw(t 'sub_nav.edit_blog') %><span class="caret" style='vertical-align:baseline;'></span></a>
        <ul id='group_list' class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <% @registered_blogs.each do |blog| %>
            <li><%= link_to blog.title, edit_blog_path(blog) %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
      <li>
        <div class='input-append subnav_search'>
          <%= form_tag(blog_index_path, method: 'GET') do %>
            <%= text_field_tag 'q', '', id: 'entry_search', placeholder: 'Search...' %>
            <span class="add-on" style='margin-top:10px;margin-right:15px;'><i class='icon-search'></i></span>
          <% end %>
        </div>
      </li>
    </ul>
    <div id='typewriter' class='page_desc'>現在、試験的にいくつかのブログやサイトを取得対象にいています </div>
  </div>
</div>

<div class='contents clearfix'>
  <%#-------------------------------------------------------LEFT---------------------------------------------------------------%>
  <div class='blog_list'>
    <div class='blog_list_inner clearfix'>

    <%#-----SEARCH OPTION------%>
    <div id='search_option_wrapper'>
      <div class='search_option clearfix'>
        <%#--sort---%>
        <div class='sort_box clearfix left'>
          <div class='clearfix'>
            <div class='left text_white'>ソート：</div>
            <div class='left'>
              <%= link_to(raw("<span class='label #{params[:sort] == 'asc' ? 'label-default' : 'label-warning'}'>新 → 古</span>"), params.merge(opt={sort: 'desc'})) %> 
              <%= link_to(raw("<span class='label #{params[:sort] == 'asc' ? 'label-warning' : 'label-default'}'>古 → 新</span>"), params.merge(opt={sort: 'asc'})) %> 
            </div>
          </div>
        </div>
        <%#--sender---%>
        <div class='sender_box left'>
          <form>
            <select id='select_sender' class='text_small' style='margin:0;padding:0;'>
              <option>ブログタイトルで絞り込む</option>
              <% @registered_blogs.each do |blog| %>
                <a href='#'><option value='<%= blog.id %>'><%= blog.title %></option></a>
              <% end %>
            </select>
          </form>
        </div>
      </div>
    </div><!-- div#search_option_wrapper -->

      <% if @blogs.present? %>
        <% if false %>
          <div class='counter'>
            該当エントリ：全<span class='big_text text_red bold'> 100 </span>件
          </div>
        <% end %>
        <% @blogs.each do |blog| %>
          <article class='blog'>
            <header class='blog_title'>
              <h2><%= link_to blog.title, blog.url %></h2>
            </header>
            <p class='blog_summary'><%= raw blog.summary %></p>
            <div class='blog_postedat'><%= blog.posted_at.strftime '%Y-%m-%d %H:%M:%S' %></div>
          </article>
        <% end %>
      <% else %>
        <div class='no_blog' style='line-height:30px;text-align:center;'>
          <span class='text_red'><i class='icon-warning-sign text_red'></i> <%= t 'blog_not_found' %></span>
        </div>
      <% end %>
    </div>
    <% # ページネーション %>
    <div class='center_text'>
      <%= paginate @blogs %>
    </div>
  </div>

  <%#-------------------------------------------------------RIGHT---------------------------------------------------------------%>
  <div class='blog_meta'>
    <% #登録しているブログの一覧 %>
    <section class='rss_list'>
      <header class='rss_list_title'>登録しているブログ一覧</header>
      <div class='rss_list_body'>
        <ul class='unstyled'>
          <% @registered_blogs.each do |blog| %>
            <% if session[:twitter_id] == 154423524 %>
              <li>blog.title</li>
            <% else %>
              <li><%= link_to blog.title, edit_blog_path(blog)%></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </section>

    <% #各ブログでのエントリを日付ごとに集計する %>
    <section class='rss_list'>
      <header class='rss_list_title'>日付での集計</header>
      <div class='rss_list_body'>
        <ul class='unstyled'>
          <% @entry_date.each do |entry| %>
            <li><%= "#{entry.entry_date}(#{entry.counter})" %></li>
          <% end %>
        </ul>
      </div>
    </section>
  </div>
</div>
