<!DOCTYPE html>
<html>
<head>
  <title>Lab Master</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? -%>
    <% #current_userは変数ではなくメソッド %>
    <%= image_tag("#{current_user.image_url}") %>
    <%= link_to 'logout', logout_path %>
  <% else %>
    <%= link_to "Twitter Login", "auth/twitter" %>
  <% end %>

  <br>

  <% if fb_logged_in? -%>
    <%#= image_tag("#{fb_current_user.image}") %>
    <%= link_to 'logout', logout_path %>
  <% else %>
    <% # accesstokenを取得したい時はこちらを利用 %>
    <%#= link_to "Facebookでログイン", "auth/facebook" %>
    <%= link_to "Facebook Login", "#" %>
  <% end %>

<%= yield %>

</body>
</html>
