<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Lab Master</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" rel="stylesheet" />
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="app_container">
    <div id="main_contents">
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
